.vh-50 {
    height: 50vh !important;
}

.offcanvas {
    width: 75vw !important;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 200px;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 576px) {
    .navbar-toggler {
        display: none !important;
    }
    .carousel-item img {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 300px;
    }
    
}

#btn-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
}